@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    border: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: black;
    border-bottom: 1px solid rgb(63, 63, 63);
    width: 100%;
    position: sticky;
}

nav h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px;
}

.innerwrapper h1 {
    width: 60%;
    font-size: 90px;
    color: white;
    font-weight: 400;
    margin: 20px 20px 0 20px;
    position: fixed;
    z-index: -1;
}

.resolve {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 120px;
}

.brand h1 {
    font-size: 62px;
    color: white;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 20px;
}   

.aboutresolve p {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    padding-right: 20px;
}

.service-given {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-top: 40%;
}

.service-given h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-bottom: 380px;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.s-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.s-img img {
    width: 65%;
    height: auto;
    background-size: cover;
}

.l-img img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.centerimg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: fit-content;
}   

.centerimg img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.content-grid .contentimg {
    width: 100%;
    height: auto;
    background-size: cover;
}

.text-content p {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 100%;
    text-align: left;
    padding-left: 130px;
    padding-right: 20px;
    margin-top: 0;
}

.videodiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 300px;
}

.video1 {
    width: 75%;
    height: auto;
    border: 20px;
}

.video2 {
    width: 75%;
    height: auto;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgcontainer img {
    width: 75%;
    height: auto;
}

.video3 {
    width: 100%;
    height: auto;
}

.bottomimg {
    width: 75%;
    height: auto;
    margin-bottom: 380px;
}

.clients-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: black;
    border-bottom: 1px solid rgb(63, 63, 63);
    border-top: 1px solid rgb(63, 63, 63);
    z-index: 1;
}

.clients-nav h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 10px 20px;
}

.footercontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px;
    column-gap: 20px;
    margin-bottom: 150px;
}

.relatedcontent img {
    width: 100%;
    height: 430px;
    margin-bottom: 0;
    background-size: cover;
}



.relatedcontent h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    margin-bottom: 0;
}

.relatedcontent h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
}

.endname {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 136px;
    font-weight: 400;
    color: white;
    margin: 0;
    border-bottom: 1px solid rgb(63, 63, 63);
    border-top: 1px solid rgb(63, 63, 63);
}

.endcredits {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 20px;
}

.endcredits h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
}